/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
@import "tailwindcss";
:root {
  --primary-color: #0070f3;
  --secondary-color: #00a3bf;
  --background-color: #ffffff;
  --text-color: #1a1a1a;
  --error-color: #dc2626;
  --success-color: #059669;
  --warning-color: #d97706;
  --info-color: #3b82f6;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


